div.sg4wp{
    margin:5px 15px 2px;
    padding-left: 12px;
    padding-right: 12px;
}
.sgMain{

}
tr.sg4wp{
    font-size: 15px;
    line-height: 15px;
    height: 30px;
}

tr.sg4wp th{
    text-align: left;
    padding-right: 10px;
}